{
  "scriptId": "{{ID}}",
  "greasyForkId": null,
  "entry": "{{ID}}.user.js",
  "releaseBranch": "release/{{ID}}",
  "codeSyncUrl": "https://raw.githubusercontent.com/{{OWNER}}/{{REPO}}/release/{{ID}}/scripts/{{ID}}/{{ID}}.user.js",
  "additionalInfoSyncUrl": "https://raw.githubusercontent.com/{{OWNER}}/{{REPO}}/release/{{ID}}/scripts/{{ID}}/README.md",
  "changelog": "CHANGELOG.md"
}
