// ==UserScript==
// @name         {{NAME}}
// @name:en      {{NAME_EN}}
// @namespace    https://github.com/{{OWNER}}/{{REPO}}
// @version      0.1.0
// @description  {{DESCRIPTION}}
// @description:en  {{DESCRIPTION_EN}}
// @author       {{OWNER}}
// @license      UNLICENSED
// @supportURL   https://github.com/{{OWNER}}/{{REPO}}/issues
{{MATCH_LINES}}
// @grant        none
// @run-at       document-idle
// ==/UserScript==

(function () {
  "use strict";

  // TODO(userscript): Implement the behavior documented in README.md.
})();
