// ==UserScript==
// @name         {{NAME_EN}}
// @name:zh-CN   {{NAME}}
// @namespace    https://github.com/{{OWNER}}/{{REPO}}
// @version      0.1.0
// @description  {{DESCRIPTION_EN}}
// @description:zh-CN  {{DESCRIPTION}}
// @author       {{OWNER}}
// @license      UNLICENSED
// @supportURL   https://github.com/{{OWNER}}/{{REPO}}/issues
{{MATCH_LINES}}
// @grant        none
// @run-at       document-idle
// ==/UserScript==

(function () {
  "use strict";

  // TODO(userscript): Implement the behavior documented in README.md.
})();
